.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightblue;
}

.navbar-nav{
    margin: 0!important;
    width: 80%;
    justify-content:center;
}
.navbar__brand{
margin-left: 10%;
    
}

.nav-item a{
    text-align: center;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;   
    margin:0 10% ; 
}
